@charset "utf-8";

/* @font-face {
	font-family: 'Hellix';
	src: url('../../font/hellix/Hellix-Regular.woff')format("woff");
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'Hellix';
	src: url('../../font/hellix/Hellix-Bold.woff')format("woff");
	font-weight: bold;
	font-style: normal;
}
@font-face {
	font-family: 'Hellix';
	src: url('../../font/hellix/Hellix-Black.woff')format("woff");
	font-weight: 900;
	font-style: normal;
} */
@font-face {
	font-family:'Oxanium';
	src: url('../../font/Oxanium/Oxanium-Regular.ttf');
	font-weight: 300;
	font-style: normal;
}
@font-face {
	font-family:'Oxanium';
	src: url('../../font/Oxanium/Oxanium-SemiBold.ttf');
	font-weight: 700;
	font-style: normal;
}
@font-face {
	font-family:'Oxanium';
	src: url('../../font/Oxanium/Oxanium-Bold.ttf');
	font-weight: 800;
	font-style: normal;
}
/* 기본포맷으로 바꾸기 */
/* @font-face{
	font-family:'Oxanium';
	src:url('../../font/Oxanium-Regular.eot');
	src:local('Oxanium'),
			url('../../font/Oxanium-Regular.eot?#iefix') format(‘embedded-opentype’),
			url('../../font/Oxanium-Regular.woff') format(‘woff’),
			url('../../font/Oxanium-Regular.ttf') format('truetype');
	font-weight:300;
	font-style: normal;
} */


html {
	font-size: 62.5%; /* 10px */
	/* font-family: var(--font-hx); */
	font-family: "Oxanium", Arial, Helvetica, sans-serif;
	font-weight: 300;
}

body {
	font-size: 1rem;
}

/* txt-type */
.txt-type1 {font-size:7.2rem; line-height: 1; color: var(--white);}
.txt-type2 {font-size:4.5rem; line-height: 1; color: var(--violet); font-weight:bold;}
.txt-type3 {font-size:2rem; color: var(--white);}


